<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cuticells</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="header">
            <h2>Testing aws</h2>
        </div>
        <footer>Copyright &#169 2020 Cuticells </footer>
    </body>
</html>
